.header {
    color: $c6;
    border-bottom: .1rem solid rgba($c7, .5);
    @media(max-width: $sm * 1em) {
        color:$c1;
        background: $c6;
    }
    &__container {
        height: 7rem;
        max-width: calc( #{$headerContainer} + 4rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__links {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__nav {
        margin-left: 2rem;
        @media(max-width: $sm * 1em) {
            display: none;
        }
    }
    &__logo {
        font-size: 2.4rem;
        margin-bottom: 0;
        font-weight: 400;
        a {
            text-decoration: none;
        }
        &--standalone {
            margin-bottom: 4rem;
            &:after {
                display: none !important;
            }
        }
        &:after {
            content: '';
            display: inline-block;
            width: .2rem;
            height: 2rem;
            background-color: $c7;
            vertical-align: -.2rem;
            margin-left: 2rem;
            @media(max-width: $sm * 1em) {
                display: none;
            }
        }
    }
    &__user {
        display: flex;
        align-items: center;
        position: relative;
        &__notice {
            position: relative;
            width: 1.7rem;
            height: 1.9rem;
            margin-right: 3rem;
            background-image: url(../img/bell.svg);
            display: inline-block;
            text-indent: -9999px;
            &:after {
                text-indent: 0;
                content: attr(data-number);
                display: inline-block;
                position: absolute;
                top: -5px;
                right: -8px;
                font-size: .8rem;
                width: 1.4rem;
                height: 1.4rem;
                line-height: 1.4rem;
                text-align: center;
                background-color: $c8;
                color: $c1;
                border-radius: 50%;
            }
        }
        &__img {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 1rem;
            display: block;
            border-radius: 50%;
        }
        &__profile {
            display: flex;
        }
        &__name {
            @media(max-width: $sm * 1em) {
                display:none;
            }
            &:after {
                content: '';
                display: inline-block;
                width: 1rem;
                height: 1rem;
                background-image: url(../img/user-arrow.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-left: .5rem;
            }
        }
    }
    &__menu {
        box-shadow: $bs1;
        position: absolute;
        right: 0;
        top: 4.9rem;
        padding: 3rem;
        background-color: $c1;
        min-width: 32rem;
        transform: translateY(20px);
        visibility: hidden;
        opacity: 0;
        transition: all .4s;
        z-index: 1;
        @media(max-width: $sm * 1em) {
            background: $c6;
            transition: visibility .4s, transform .4s;
            top: 4.7rem;
            min-width: 100%;
            padding: 0 3rem;
        }
        &--visible {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            @media(max-width: $sm * 1em) {
                width:100vw;
                right: -2rem;
            }
        }
        &__heading {
            margin-bottom: 3rem;
        }
        &__nav {
            padding: 2.5rem 0;
            border-top: .1rem solid rgba($c7, .5);
            border-bottom: .1rem solid rgba($c7, .5);
        }
        &__nav-item {
            &:not(:last-child) {
                margin-bottom: .5rem;
            }
        }
        &__nav-link {
            display: block;
            transition: color .3s;
            &:hover {
                color: $c11
            }
        }
        &__logout {
            font-size: 1.4rem;
            font-weight: 700;
            margin-top: 3rem;
            display: block;
            &:before {
                content: '';
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                background-image: url(../img/logout.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: .5rem;
                vertical-align: sub;
                @media(max-width: $sm * 1em) {
                    -webkit-filter: grayscale(100%) brightness(8);
                    filter: grayscale(100%) brightness(8);
                }
            }
        }
        &__content-desktop {
            @media(max-width: $sm * 1em) {
                display: none;
            }
        }
        &__content-mobile {
            display: none;
            min-height: calc(100vh - 70px);
            position: relative;
            height: 390px;
            
            @media(max-width: $sm * 1em) {
                display: block;
            }
            &-user {
                display: flex;
                padding: 2rem 0rem;
                border-top: 2px solid rgba( $c14, .2);
                border-bottom: 2px solid rgba( $c14, .2);
                img {
                    width: 2.4rem;
                    height: 2.4rem;
                    margin-right: 1rem;
                    display: block;
                    border-radius: 50%;
                }
                span {
                    font-size: 1.3rem
                }
            }
            .header__menu__nav {
                border: 0px;
                padding: 2rem 0;
                &-item,
                &-item:not(last-child) {
                    margin-bottom: 0;
                    line-height: 3.2rem;
                }
                &-link {
                    display: inline-block;
                    font-size: 1.4rem;
                    transition: font-weight .3s;
                    &:hover {
                        font-weight: 500;
                        color: $c1;
                    }
                }
            }
            .header__menu__logout {
                font-weight: 500;
                margin-top: 0rem;
            }
        }
        &__searchbar {
            position: absolute;
            bottom: 0px;
            width: 100%;
            padding-bottom: 3rem;
            
            form {
                position: relative;
                width: 100%;
                input {
                    display: inline-block;
                }
                input[type="text"] {
                    text-align: left;
                    width: 100%;
                    border-bottom: 2px solid rgba( $c14, .2);
                    max-width: 100%;
                    font-size: 1.5rem;
                    padding-right: 2rem;
                    @include placeholder {
                        text-align: left !important;
                    }
                }
                input[type="submit"] {
                    background-image: url(../img/user-arrow.svg);
                    background-size: contain;
                    background-position: center;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    border: 0px;
                    font-size: 0px;
                    -webkit-filter: grayscale(100%) brightness(8);
                    filter: grayscale(100%) brightness(8);
                    height: 1.6rem;
                    width: 1.6rem;
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    transform: translate(0%, -50%);
                }
            }
        }
    }
    &__menu__mobile{
        width: 60px;
        height: 45px;
        position: relative;
        margin: 50px auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        
        span {
            display: block;
            position: absolute;
            height: 9px;
            width: 50%;
            background: #d3531a;
            opacity: 1;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            
            &:nth-child(even) {
                left: 50%;
                border-radius: 0 9px 9px 0;
            }
            
            &::nth-child(odd) {
            left: 0px;
            border-radius: 9px 0 0 9px;
            }
        }
        
        span
        span:nth-child(1),
        span:nth-child(2) {
            top: 0px;
        }

        
        span:nth-child(3),
        span:nth-child(4) {
            top: 18px;
        }
        span:nth-child(5),
        span:nth-child(6) {
            top: 36px;
        }
    }
    
    &__menu__mobile--open{
        span:nth-child(1),
        span:nth-child(6) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        span:nth-child(2),
        span:nth-child(5) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        open span:nth-child(1) {
            left: 5px;
            top: 7px;
        }
        span:nth-child(2) {
            left: calc(50% - 5px);
            top: 7px;
        }
        span:nth-child(3) {
            left: -50%;
            opacity: 0;
        }
        span:nth-child(4) {
            left: 100%;
            opacity: 0;
        }
        span:nth-child(5) {
            left: 5px;
            top: 29px;
        }
        span:nth-child(6) {
            left: calc(50% - 5px);
            top: 29px;
        }
    }
    
    &__notifications {
        position: absolute;
        top: 7.1rem;
        z-index: 1;
        text-indent: 0;
        width: 46rem;
        max-width: 100%;
        right: 0;
        transform: translateY(20px);
        visibility: hidden;
        opacity: 0;
        transition: all .4s;
        &--visible {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}
