input[type=text],
input[type=email] {
    width: 100%;
    padding: .75em 0;
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    border-bottom: .1rem solid rgba($c1, .3);
    text-align: center;     
    @include placeholder {
        color: $c4;
        text-align: center;     
    }
    color: $c4;
    &.dark {
        border-color: $c4;
    }
}

label {
    display: block;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: $c9;
    letter-spacing: .1em;
    text-align: center;
}