$container: 134rem;
$headerContainer: 144rem;
$headerBreak: 62.5;

$sm: 35.5;
$md: 48;
$lg: 64;

$lineheight: 1.6666;

$padMob: 4%;

$gr1: linear-gradient(-225deg, #06408E 0%, #1C78BF 100%);
$bs1: 0 30px 40px 0 rgba(6,21,41,0.12);

$c1: #fff;
$c2: #000;
$c3: #06B2DD;
$c4: #B6CCCC;
$c5: #f7f8f8;
$c6: #0D2C54;
$c7: #B6CDCD;
$c8: #fd425a;
$c9: #85929F;
$c10: #68DF0B;
$c11: #06B2DD;
$c12: #1EC4EE;


